@charset "utf-8";
/* base */

/*样式初始化设置*/
body,p,h1,h2,h3,h4,h5,h6{ 
	margin:0; 
	font-size:12px; 
	font-family:"Microsoft Yahei";
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ol,ul,li{
	list-style:none; 
	padding:0; 
	margin:0;
}


li{ 
	font-family:"Microsoft Yahei"; 
	padding:0; 
	margin:0 ;
	list-style: none;
}

a{
	text-decoration:none; 
	margin:0; 
	padding:0;
	outline: none;
	font-family:"Microsoft Yahei"; 
	text-decoration:none;
}
a:hover{text-decoration:none;}
a:active {star:expression(this.onFocus=this.blur());} /*去掉ie7鼠标点击出现虚线框*/

img,input{ 
	border:none; 
	margin:0; 
}

.clear{
	zoom:1;
}


.clear:after{ 
	content:"";
	display:block;
	clear:both;
}

h2,h3{ 
	font-weight:normal;
}

input::-ms-clear { display: none; } /*清除ie11输入框的小叉*/
input[type="password"]::-ms-reveal{display:none;} /*禁用眼睛图标*/


/*控制预输入字体的颜色样式*/
::-webkit-input-placeholder{
	color: #9c9c9c;
}

:-moz-placeholder{
	color: #9c9c9c;
}

::-moz-placeholder{
	color: #9c9c9c;
}

:-ms-input-placeholder {
	color: #9c9c9c;
}


strong,span{ 
	font-weight:normal; 
	font-family:"Microsoft Yahei";
}



body{ 
	min-width:1170px; 
	-webkit-user-select:none;

}

*{
	margin: 0;
	padding: 0;
}

img{
	border:0 none;
}



.fl{
	float: left;
}

.fr{
	float: right;
}

.w1170{
	width: 1170px;
}

