.startzj {
  overflow: hidden;
}
.startzj .article {
  border: 1px solid #e4e4e4;
  height: 730px;
  width: 48%;
  overflow: hidden;
  float: left;
}
.startzj .article:first-child {
  margin-right: 1.8%;
}
.startzj .article video {
  width: 100%;
  height: 253px;
}
.startzj .article .testcontent {
  padding: 16px 8px 8px 8px;
}
.startzj .article .testcontent .sm {
  color: #545454;
  font-size: 14px;
}
.startzj .article .testcontent .sm dt {
  font-weight: bold;
  margin-bottom: 12px;
}
.startzj .article .testcontent .sm dd {
  margin-bottom: 8px;
}
.startzj .article .testcontent li {
  border: 1px solid #e4e4e4;
  padding: 4px 0px;
  position: relative;
  height: 124px;
  margin-bottom: 12px;
}
.startzj .article .testcontent li .testimg {
  position: absolute;
  width: 51px;
  padding-top: 56px;
  background-size: 51px 48px;
  color: #000;
  top: 30px;
  left: 35px;
  margin-bottom: 8px;
}
.startzj .article .testcontent li .htjc {
  padding-top: 40px;
  margin-left: 125px;
  width: 70%;
  height: 120px;
  text-align: center;
}
.startzj .article .testcontent li .htjc dt,
.startzj .article .testcontent li .htjc dd {
  margin-bottom: 5px;
}
.startzj .article .testcontent li .htjc .suc {
  background: url(http://localhost:4000/images/u2993.03f353f.png) 60px top no-repeat;
  background-size: 16px;
}
.startzj .article .testcontent li .htjc .faild {
  background: url(http://localhost:4000/images/u3024.ab41c8b.png) 60px top no-repeat;
  background-size: 16px;
}
.startzj .article .testcontent li .htjc .txt {
  color: #c1c1c1;
}
.startzj .article .testcontent li .htjc .recheck {
  text-align: right;
  color: #65cea6;
  padding-right: 45px;
}
.startzj .article .testcontent li .load {
  padding-top: 60px;
  margin-left: 125px;
  width: 70%;
  height: 120px;
  text-align: center;
}
.startzj .article .testcontent li .load dt,
.startzj .article .testcontent li .load dd {
  margin-bottom: 5px;
  color: #666;
}
.startzj .article .testcontent li .load dt {
  background: url(http://localhost:4000/images/load.cae295f.gif) 45px top no-repeat;
  background-size: 16px;
  font-weight: normal;
}
.startzj .article .testcontent li .load .faild {
  background: url(http://localhost:4000/images/u3024.ab41c8b.png) 60px top no-repeat;
  background-size: 16px;
}
.startzj .article .testcontent li .load .txt {
  color: #c1c1c1;
}
.startzj .article .testcontent li .load .recheck {
  text-align: right;
  color: #65cea6;
  padding-right: 45px;
}
.startzj .article .testcontent li .ht {
  background: url(http://localhost:4000/images/u3040.cfeab98.png) center top no-repeat;
}
.startzj .article .testcontent li .fg {
  border-left: 1px solid #e4e4e4;
  position: absolute;
  left: 120px;
  top: 16px;
  height: 100px;
}
.startzj .article .testcontent li .rl {
  background: url(http://localhost:4000/images/u2989.207e058.png) center top no-repeat;
}
.startzj .article .testcontent li .textcontent {
  margin-left: 125px;
  width: 70%;
  left: 125px;
  height: 120px;
  line-height: 120px;
  text-align: center;
}
.startzj .article .testcontent li .textcontent .jcbtn {
  background-color: #65cea6;
  padding: 6px 10px;
  color: #fff;
  border: none;
  font: menu;
}
.startzj .listtable .tabchange {
  overflow: hidden;
}
.startzj .listtable .tabchange li {
  width: 50%;
  float: left;
  background-color: #fff;
  text-align: center;
  color: #000;
  font-size: 14px;
  padding: 12px 0;
}
.startzj .listtable .tabchange li.check {
  color: #fff;
  background-color: #48c9b0;
}
.startzj .listtable .tablecontent {
  padding: 16px 12px 12px 12px;
  width: 483px;
}
.startzj .listtable .tablecontent .zjbgcontent {
  overflow: auto;
  height: 665px;
}
.startzj .listtable .ultabhead {
  display: table;
  background-color: #f2f2f2;
  width: 100%;
}
.startzj .listtable .ultabhead li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 8px 0px;
  color: #666;
  border-right: 1px solid #fff;
}
.startzj .listtable .ultabhead li:last-child {
  border-left: none;
}
.startzj .listtable .ultabhead li:nth-child(1) {
  width: 15%;
}
.startzj .listtable .ultabhead li:nth-child(2) {
  width: 55%;
}
.startzj .listtable .ultabhead li:nth-child(3) {
  width: 10%;
}
.startzj .listtable .ultabhead li:nth-child(4) {
  width: 10%;
}
.startzj .listtable .ultabhead li:nth-child(5) {
  width: 10%;
}
.startzj .listtable .ultabcontent {
  background-color: #fff;
  display: table;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
}
.startzj .listtable .ultabcontent li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 8px 0px;
  color: #666;
  border-left: 1px solid #fff;
}
.startzj .listtable .ultabcontent li p {
  padding: 8px;
}
.startzj .listtable .ultabcontent li:last-child {
  border-left: none;
}
.startzj .listtable .ultabcontent li:nth-child(1) {
  width: 15%;
}
.startzj .listtable .ultabcontent li:nth-child(2) {
  width: 55%;
}
.startzj .listtable .ultabcontent li:nth-child(3) {
  width: 10%;
}
.startzj .listtable .ultabcontent li:nth-child(4) {
  width: 10%;
}
.startzj .listtable .ultabcontent li:nth-child(5) {
  width: 10%;
}
.startzj .listtable .ultabcontent li.cha {
  background: url(http://localhost:4000/images/cha.bf484ad.png) center center no-repeat;
  background-size: 16px;
}
.startzj .listtable .ultabcontent li.gou {
  background: url(http://localhost:4000/images/gou.8f0383f.png) center center no-repeat;
  background-size: 16px;
}
.startzj .listtable .ultabcontent li.dw {
  background: url(http://localhost:4000/images/dw.22e1958.png) center center no-repeat;
  background-size: 16px;
}
.startzj .listtable .ultabcontent li button {
  background-color: #f90;
  border: none;
  color: #fff;
  padding: 2px 4px;
  cursor: pointer;
}
.startzj .listtable .bdtable dl {
  margin-bottom: 18px;
}
.startzj .listtable .bdtable dl dt {
  color: #48c9b0;
  font-size: 14px;
  margin-bottom: 12px;
}
.startzj .listtable .bdtable dl dd {
  font-size: 14px;
  overflow: hidden;
  margin-bottom: 12px;
  color: #666;
}
.startzj .listtable .bdtable dl table {
  width: 100%;
  text-align: center;
  font-size: 14px;
  vertical-align: middl;
  color: #666;
}
.startzj .listtable .bdtable dl tr td {
  height: 20px;
}
.startzj .listtable .bdtable dl tr td:first-child {
  text-align: left;
}
.startzj .listtable .bdtable dl .twotable {
  overflow: hidden;
}
.startzj .listtable .bdtable dl .twotable li {
  width: 50%;
  font-size: 14px;
  float: left;
}
.startzj .listtable .bdtable dl .twotable li p {
  font-size: 14px;
}
.startzj .listtable .bdtable dl .twotable li .name {
  width: 70px;
  text-align: left;
  float: left;
  font-size: 14px;
}
.startzj .listtable .bdtable dl .twotable li .ntxt {
  margin-left: 70px;
}
.startzj .listtable .bdtable dl .threetable {
  overflow: hidden;
}
.startzj .listtable .bdtable dl .threetable li {
  width: 33%;
  font-size: 14px;
  float: left;
}
.startzj .listtable .bdtable dl .threetable li p {
  font-size: 14px;
}
.startzj .listtable .bdtable dl .threetable li .name {
  width: 70px;
  text-align: left;
  float: left;
  font-size: 14px;
}
.startzj .listtable .bdtable dl .threetable li .ntxt {
  margin-left: 70px;
}
.zjyj {
  width: 100%;
  margin: 40px 0;
}
.zjyj dt {
  font-size: 16px;
  color: #65cea6;
  margin-bottom: 12px;
}
.zjyj dd {
  overflow: hidden;
  margin-bottom: 8px;
}
.zjyj .name {
  width: 30px;
  float: left;
  font-size: 14px;
}
.zjyj .ntxt {
  width: 100%;
  margin-left: 30px;
}
.zjyj textarea {
  height: 60px;
}
.zjyj select {
  height: 30px;
  line-height: 30px;
}
.zjyj select {
  width: 95%;
}
.zjyj textarea {
  width: 94.8%;
}
.slwrap {
  max-width: 960px;
  margin: 0 auto;
}
.zjbtncontent {
  margin-top: 24px;
  text-align: center;
}
.zjbtncontent button {
  border: none;
  padding: 8px 21px;
  border-radius: 6px;
}
.zjbtncontent #save {
  background-color: #1abc9c;
  color: #fff;
  font-size: 14px;
}
.zjbtncontent #cancel {
  border: 1px solid #1abc9c;
  color: #1abc9c;
  background-color: #fff;
}
@charset "utf-8";
/* base */

/*样式初始化设置*/
body,p,h1,h2,h3,h4,h5,h6{ 
	margin:0; 
	font-size:12px; 
	font-family:"Microsoft Yahei";
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ol,ul,li{
	list-style:none; 
	padding:0; 
	margin:0;
}


li{ 
	font-family:"Microsoft Yahei"; 
	padding:0; 
	margin:0 ;
	list-style: none;
}

a{
	text-decoration:none; 
	margin:0; 
	padding:0;
	outline: none;
	font-family:"Microsoft Yahei"; 
	text-decoration:none;
}
a:hover{text-decoration:none;}
a:active {star:expression(this.onFocus=this.blur());} /*去掉ie7鼠标点击出现虚线框*/

img,input{ 
	border:none; 
	margin:0; 
}

.clear{
	zoom:1;
}


.clear:after{ 
	content:"";
	display:block;
	clear:both;
}

h2,h3{ 
	font-weight:normal;
}

input::-ms-clear { display: none; } /*清除ie11输入框的小叉*/
input[type="password"]::-ms-reveal{display:none;} /*禁用眼睛图标*/


/*控制预输入字体的颜色样式*/
::-webkit-input-placeholder{
	color: #9c9c9c;
}

:-moz-placeholder{
	color: #9c9c9c;
}

::-moz-placeholder{
	color: #9c9c9c;
}

:-ms-input-placeholder {
	color: #9c9c9c;
}


strong,span{ 
	font-weight:normal; 
	font-family:"Microsoft Yahei";
}



body{ 
	min-width:1170px; 
	-webkit-user-select:none;

}

*{
	margin: 0;
	padding: 0;
}

img{
	border:0 none;
}



.fl{
	float: left;
}

.fr{
	float: right;
}

.w1170{
	width: 1170px;
}